<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	<script>
		/*
			基本数据类型
			String
			Number
			Boolean
			Null
			Undefined
			
			引用数据类型
			Object
		*/

        let a = 10;
        console.log(a);
        console.log(typeof  a)

        // 调用toString()方法转换成字符串
        a = a.toString();
        console.log(a);
        console.log(typeof  a)

        a = 10;

        // 使用String()函数变换成字符串
        a = String(a);
        console.log(a);
        console.log(typeof  a)

        a = "10";

        a = Number(a);
        console.log(a);
        console.log(typeof  a)

        a = "10";
        a = parseInt(a);
        console.log(a);
        console.log(typeof  a)

        a = "3.14";
        a = parseFloat(a);
        console.log(a);
        console.log(typeof  a)

        a = Boolean(a);
        console.log(a);
        console.log(typeof  a)


	</script>
</head>
<body>

</body>
</html>