<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        /*
        对象的分类：
            1、内建对象
                -由ES标准中定义的对象，例：Math String Number Boolean Function Object ...
            2、宿主对象
                -由js运行环境提供的对象，主要来讲是由浏览器提供的对象
                例：BOM DOM
            3、自定义对象
                -由开发人员自建的对象
         */

        // 创建对象
        /**
         * 使用new关键字调用的函数是构造函数(constructor)，构造函数是专门用来创建对象的函数
         */
        let obj = new Object();
        console.log(obj);

        // 添加属性并赋值
        obj.username = "Tom";
        obj.gender = 1;
        obj.age = 18;

        // 使用属性
        console.log(obj.username)
        console.log(obj.gender)
        console.log(obj.age)

        // 删除对象的属性
        delete obj.age;
        console.log(obj.age)


        /**
         * 对象的属性名不强制要求遵守标识符规则
         * 但尽量不要那样做
         * 如果要使用特殊的属性名，不能采用.的方式来引用属性，需要使用下面的格式
         * 对象["属性名"] = 属性值
         * 使用的时候也要使用这种语法来使用
         */

        obj["123"] = 789;
        console.log(obj["123"]);

        /**
         * 对象的属性值可以是任意数据类型
         */

    </script>
</head>
<body>

</body>
</html>