<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        // 创建一个对象
        let obj1 = new Object();

        // 使用对象字面量来定义一个对象，与new Object(); 效果是一样的
        let obj2 = {};

        /**
         * 使用对象字面量来定义对象，可以在定义对象时，直接指定对象的属性及属性值
         * 语法： let obj = {属性1:属性值1, 属性2:属性值2, ...}
         */
        let obj3 = {
            username : "张三",
            password : "zhangsan"
        };

        console.log(obj3);

    </script>
</head>
<body>

</body>
</html>