<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Title</title>
		<script>
			function Person(name, age, gender) {
				this.name = name;
				this.age = age;
				this.gender = gender;
			}
			// 重写toString()方法，在Person的原型中添加toString()方法
			Person.prototype.toString = function() {
				return "Person[name=" + this.name + ", age=" + this.name + ", gender=" + this.gender + "]";
			};

			let person1 = new Person("张三", 18, "男");
			let person2 = new Person("李四", 18, "男");

			// console.log(person1.toString == person2.toString);
			console.log(person1);
			console.log(person2.toString());
		</script>
	</head>
	<body>

	</body>
</html>
